@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;700&display=swap");

.item-detail{
    box-shadow: 0px 0px 15px 10px rgb(0,0,0,0.8);
    text-align: center;
    background-color: #714d41;
    margin: 2rem 15rem;
    padding: 2rem 6vh;
    display: flex;
    animation-name: show;
    animation-duration: 2s;
    img{
        width: 50%;
        height: 25rem;
    }
}

.detail{
    margin-left: 10vh;
    h1{
        color: #d8a3b3;
        text-shadow: -3px 1px 1px #f9e2c7;
        text-decoration: underline;
        text-decoration-color: #82bfbc;
    }
    p{
        color:white;
    }
}

.compra{
    button{
        background: #f9e2c7;
        border: 5px double #d8a3b3;
        padding: 1vh;
        border-radius: 5vh;
        font-size: 20px;
        margin-top: 1rem;
        font-family: 'Quicksand';
    }
}
@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1200px){
    .item-detail{
        display: block;
    }
}