.home {
    text-align: -webkit-center;
    margin-top: 15vh;
    h1 {
        background-color: #f19dafb3;
        font-family: "Quicksand", sans-serif;
        padding: 15px;
        width: 380px;
        border-radius: 40px;
        border: 2px solid #5f4a3b;
        color: #f9e2c7;
        text-shadow: 3px 2px 2px #5f4a3b;
    }
    p {
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
    }
}