@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");


.itemCount{
    margin-top: 5vh;
    text-align: center;
    background: #f9e2c7;
    border-radius: 40px;
    padding: 1vh 0;
    h1{
    font-family: "Quicksand", sans-serif;
    }
    .add, .remove{
        background-color: #d8a3b3;
        border: 3px solid #d8a3b3;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: white;
        border-radius: 50%;
        border: none;
        margin: 0 5vh ;
    }
    .add:hover, .remove:hover{
        background-color: transparent;
        border: 3px inset #d8a3b3;
        font-size: 20px;
        color: #d8a3b3;
        cursor: pointer;
    }
    .add:disabled, .remove:disabled{
        cursor: not-allowed;
        background-color: #bbbbbb;
        border:3px solid #525252;
        color: #727272
    }
}

@media (max-width: 1200px){
    .itemCount .add, .itemCount .remove{
        margin: 0 1vh ;
    }
}